mixin textbox(label, binding, inputType)
  .form-group(:class="{ 'has-error': $v." + binding + ".$error }")
    label.control-label.col-sm-4(for=binding)= label
    .col-sm-8
      input.form-control(type=inputType ? inputType : 'text', v-model.trim=binding, id=binding, @input='$v.' + binding + '.$touch()', placeholder=label)

mixin validation(binding, validation, message)
  .col-sm-8.col-sm-offset-4.validation-message(v-show=("!$v." + binding + "." + validation + " && $v." + binding + ".$error === true"))= message

mixin button(label, clickAction, buttonType)
  button.btn(class="btn-" + (buttonType ? buttonType : "default"), @click=clickAction)&attributes(attributes)= label
